<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="Src/vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./Tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
            <directory prefix=".php-cs-fixer.">.</directory>
        </include>
        <report>
            <html outputDirectory="./Tests/Coverage/Html"/>
        </report>
    </coverage>
</phpunit>